@{
    string Message = ViewBag.DefaultFroup;
    string DefaultMessage = null;

    if (Message == null || Message == "")
    {


        Guid GroupId = Guid.Parse(Session["group"].ToString());
        Socioboard.Api.Groups.Groups ApiobjGroup = new Socioboard.Api.Groups.Groups();
        Domain.Socioboard.Domain.Groups ObjGroup = (Domain.Socioboard.Domain.Groups)(new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize(ApiobjGroup.GetGroupDetailsByGroupId(GroupId.ToString()), typeof(Domain.Socioboard.Domain.Groups)));
        Domain.Socioboard.Domain.User ObjUser = (Domain.Socioboard.Domain.User)Session["User"];
        Socioboard.Api.BusinessSetting.BusinessSetting ApiobjBusinessSetting = new Socioboard.Api.BusinessSetting.BusinessSetting();
        Domain.Socioboard.Domain.BusinessSetting ObjBusinessSetting = (Domain.Socioboard.Domain.BusinessSetting)(new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize(ApiobjBusinessSetting.GetDetailsofBusinessOwner(ObjGroup.Id.ToString()), typeof(Domain.Socioboard.Domain.BusinessSetting)));
        if (ObjBusinessSetting != null)
        {
            
        
    @:<div style="min-height: 382px;" id="page-wrapper">
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @ObjBusinessSetting.BusinessName
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->


                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Personal">

                                <div class="col-md-6">
                                    <form role="form" class="form-horizontal">
<<<<<<< HEAD
                                            <label for="username-email">@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_BuisnessName</label><span class="pull-right text-danger">*</span>
=======
                                            <label for="username-email">Buisness Name</label><span class="pull-right text-danger">*</span>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                             <div class="form-group">
                                            @{
            if (ObjGroup.UserId == ObjUser.Id)
            {
                                                    <input id="txtBuisnessName" value="@ObjBusinessSetting.BusinessName" type="text" class="form-control" placeholder="Enter News">
                                                
                                                
                                            
                                                         @:</div>
                                                         @:<div class="form-group">
<<<<<<< HEAD
                                                    <h3>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasks</h3>
                                                    <p> @GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDescription</p>
=======
                                                    <h3>Assigning Tasks</h3>
                                                    <p> This setting will enable your users to assign tasks across groups and will make other group members visible. If you do not want users to assign tasks across groups, leave this setting "disabled". </p>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b

                if (ObjBusinessSetting.AssigningTasks == true)
                {
                                                         <div class="col-md-5 pull-left">
<<<<<<< HEAD
                                                        <input id="rdTaskDisable" name="chkasgntask"  value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask" checked="checked" value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksEnable</label>
=======
                                                        <input id="rdTaskDisable" name="chkasgntask"  value="" type="radio" class="">&nbsp;&nbsp;<label>Disabled</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask" checked="checked" value="" type="radio" class="">&nbsp;&nbsp;<label>Enable cross-group assignments</label>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                        </div>
                }
                else
                {
                                                        <div class="col-md-5 pull-left">
<<<<<<< HEAD
                                                        <input id="rdTaskDisable" name="chkasgntask" checked="checked" value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask"  value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksEnable</label>
=======
                                                        <input id="rdTaskDisable" name="chkasgntask" checked="checked" value="" type="radio" class="">&nbsp;&nbsp;<label>Disabled</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask"  value="" type="radio" class="">&nbsp;&nbsp;<label>Enable cross-group assignments</label>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                            </div>
                                                
                }
                                       
                                            
                                                    @:</div>


                                                        @:<div class="form-group">
<<<<<<< HEAD
                                                          <h3>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_TaskNotificationEmail</h3>
                                                          <p> @GlobusMultiLanguageLib.Resources.SocioBoard_BusinessSetting_Index_NotificationAlertViaEmail </p>
=======
                                                          <h3>Task Notification Emails</h3>
                                                          <p> Socioboard alerts you & your team members via email on various activities.  </p>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                
                if (ObjBusinessSetting.TaskNotification == true)
                {
                                                        <div class="col-md-5 pull-left">
<<<<<<< HEAD
                                                            <input id="rdTaskNotificationDisable" name="chknotify"  value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify" checked="checked"  value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskEnable</label>
=======
                                                            <input id="rdTaskNotificationDisable" name="chknotify"  value="" type="radio" class="">&nbsp;&nbsp;<label>Disabled</label>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify" checked="checked"  value="" type="radio" class="">&nbsp;&nbsp;<label>Enable Task Notifications</label>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                        </div>
                }
                else
                {
                                                        <div class="col-md-5 pull-left">
<<<<<<< HEAD
                                                            <input id="rdTaskNotificationDisable" name="chknotify" checked="checked"  value="" type="radio" class="">&nbsp;&nbsp;<lable>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskDisable</lable>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify"   value="" type="radio" class="">&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskEnable</label>
=======
                                                            <input id="rdTaskNotificationDisable" name="chknotify" checked="checked"  value="" type="radio" class="">&nbsp;&nbsp;<lable>Disabled</lable>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify"   value="" type="radio" class="">&nbsp;&nbsp;<label>Enable Task Notifications</label>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                        </div>
                }
                                                    @:</div>

                                        
<<<<<<< HEAD
                                                <button onclick="UpdateBuisnessSetting('@ObjBusinessSetting.Id')"; id="UpdateBsnsSetng" type="button" class="btn btn-warning">@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_UpdateSettings</button>
=======
                                                <button onclick="UpdateBuisnessSetting('@ObjBusinessSetting.Id')"; id="UpdateBsnsSetng" type="button" class="btn btn-warning">Update Setting</button>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b

            }
            else
            {
                                                    <input id="txtBuisnessName" readonly="true" value="@ObjBusinessSetting.BusinessName" type="text" class="form-control" placeholder="Enter News">
                                                
                                                
                                            
                                                         @:</div>

                                                         @:<div class="form-group">

                                                
                                                
<<<<<<< HEAD
                                                    <h3>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasks</h3>
                                                    <p> @GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDescription </p>
=======
                                                    <h3>Assigning Tasks</h3>
                                                    <p> This setting will enable your users to assign tasks across groups and will make other group members visible. If you do not want users to assign tasks across groups, leave this setting "disabled". </p>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b

                if (ObjBusinessSetting.AssigningTasks == true)
                {
                                                         <div class="col-md-5 pull-left">
<<<<<<< HEAD
                                                        <input id="rdTaskDisable"  name="chkasgntask" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask" checked="checked" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksEnable</label>
=======
                                                        <input id="rdTaskDisable"  name="chkasgntask" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>Disabled</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable" name="chkasgntask" checked="checked" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>Enable cross-group assignments</label>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                        </div>
                }
                else
                {
                                                        <div class="col-md-5 pull-left">
<<<<<<< HEAD
                                                        <input id="rdTaskDisable" name="chkasgntask" checked="checked" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable"  name="chkasgntask" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_AssigningTasksEnable</label>
=======
                                                        <input id="rdTaskDisable" name="chkasgntask" checked="checked" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>Disabled</label>
                                                        </div>
                                                        <div class="pull-left">
                                                        <input id="rdTaskEnable"  name="chkasgntask" value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>Enable cross-group assignments</label>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                            </div>
                                                
                }
                                       
                                            
                                                         @:</div>

                                                         @:<div class="form-group">
<<<<<<< HEAD
                                                          <h3>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_TaskNotificationEmail</h3>
                                                          <p> @GlobusMultiLanguageLib.Resources.SocialBoard_BusinessSetting_Index_NotificationAlertViaEmail</p>
=======
                                                          <h3>Task Notification Emails</h3>
                                                          <p> Socioboard alerts you & your team members via email on various activities.  </p>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                
                if (ObjBusinessSetting.TaskNotification == true)
                {
                                                        <div class="col-md-5 pull-left">
<<<<<<< HEAD
                                                            <input id="rdTaskNotificationDisable" name="chknotify"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskDisable</label>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify" checked="checked"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskEnable</label>
=======
                                                            <input id="rdTaskNotificationDisable" name="chknotify"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>Disabled</label>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify" checked="checked"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>Enable Task Notifications</label>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                        </div>
                }
                else
                {
                                                        <div class="col-md-5 pull-left">
<<<<<<< HEAD
                                                            <input id="rdTaskNotificationDisable" name="chknotify" checked="checked"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<lable>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskDisable</lable>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify"   value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_NotifcationTaskEnable</label>
=======
                                                            <input id="rdTaskNotificationDisable" name="chknotify" checked="checked"  value="" type="radio" class="" disabled>&nbsp;&nbsp;<lable>Disabled</lable>
                                                        </div>
                                                        <div class="pull-left">
                                                            <input id="rdTaskNotificationEnable" name="chknotify"   value="" type="radio" class="" disabled>&nbsp;&nbsp;<label>Enable Task Notifications</label>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                                                        </div>
                }
                                                         @:</div>

                                        
<<<<<<< HEAD
                                                    <button onclick="UpdateBuisnessSetting('@ObjBusinessSetting.Id')"; id="UpdateBsnsSetng" type="button" disabled class="btn btn-warning">@GlobusMultiLanguageLib.Resources.BusinessSetting_Index_UpdateSettings</button>
=======
                                                    <button onclick="UpdateBuisnessSetting('@ObjBusinessSetting.Id')"; id="UpdateBsnsSetng" type="button" disabled class="btn btn-warning">Update Setting</button>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
            }
                                        }
                                    </form>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    
        }
        else
        {
<<<<<<< HEAD
            DefaultMessage = "Sorry, The Business Page of this Group is Not Created!";
=======
            DefaultMessage = "Sorry, The Buisness Page of this Group is Not Created!";
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
        }
    }
    else
    {
<<<<<<< HEAD
        DefaultMessage = "Sorry, you are not able to make Setting in Default Group";
=======
        DefaultMessage = "Sorry, you are not able to Setting in Default Group";
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
    }
    }
    @if (DefaultMessage != null || DefaultMessage != "")
    {
        
    @:<div style="min-height: 382px;" id="page-wrapper">
    @: <div class="container-fluid">
    @:   <div class="row">
    @:     <div class="col-lg-12">
    @:       <h1 class="page-header"></h1>
    @:   </div>
    @:  <div class="col-lg-12">
    @:     <div class="panel panel-default">
    @:         <div class="panel-heading">
    @:            Socioboard
    @:          </div>
<!-- /.panel-heading -->

    @:            <div class="panel-body">
        
    @:          <div class="tab-content">
    @:                            <div class="tab-pane active" id="Personal">

    @:                              <div class="col-md-6">
    @:                              <form role="form" class="form-horizontal">
    @:
        
        <h1>@DefaultMessage</h1>
    
    
    
    
    @:</form>
    @:                          </div>
    @:                    </div>
              
    @:          </div>




    @:    </div>
    @: </div>
    @:   </div>
    @:  </div>
<!-- /.panel-body -->

    @:  </div>
    
    }
    



<script type="text/javascript">

<<<<<<< HEAD
    //var BsnsStng = new FormData();
    //var IsTaskAssigned = null;
    //var IsNotificationEnabled = null;
    //var BuisnessName = $("#txtBuisnessName").val();
    function UpdateBuisnessSetting(id) {
        debugger;

        var BsnsStng = new FormData();
        var IsTaskAssigned = null;
        var IsNotificationEnabled = null;
        var BuisnessName = $("#txtBuisnessName").val();

=======
    var BsnsStng = new FormData();
    var IsTaskAssigned = null;
    var IsNotificationEnabled = null;
    var BuisnessName = $("#txtBuisnessName").val();
    function UpdateBuisnessSetting(id) {
        debugger;
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
        if ($('#rdTaskDisable').is(':checked')) {
            IsTaskAssigned = false;
        }

        if ($('#rdTaskEnable').is(':checked')) {
            IsTaskAssigned = true;
        }

        if ($('#rdTaskNotificationEnable').is(':checked')) {
            IsNotificationEnabled = true;
        }

        if ($('#rdTaskNotificationDisable').is(':checked')) {
            IsNotificationEnabled = false;
        }

        BsnsStng.append('IsTaskAssigned', IsTaskAssigned);
        BsnsStng.append('IsNotificationEnabled', IsNotificationEnabled);
        BsnsStng.append('BuisnessName', BuisnessName);
        BsnsStng.append('BuisNessId', id);


        $.ajax({
            type: 'POST',
            url: '../BusinessSetting/UpdateBuisnessSetting',
            data: BsnsStng,
            processData: false,
            contentType: false,
<<<<<<< HEAD
            //dataType: "json",
            success: function (msg) {
                if (msg = "Updated Successfully") {
                    alertify.success("Business Setting Updated Successfully.");
=======
            dataType: "json",
            success: function (msg) {
                if (msg = "Updated Successfully") {
                    aleryify.success("Business Setting Updated Successfully.");
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                }
            },
            async: false
        });
    }

</script>
